.door{
    color: rgb(104, 0, 0);
}
.container{
    text-align: center;
}
.jumbotron{
    background-image: url(logojumbo.jpg);
    font-family: 'Russo One';
    text-align: center;
    color: white;
}
.jumbobtn{
    color:white;
}
.display-4{
    font-size:68px;
}
.schedhead{
    font-family: 'Russo One';
    background-color: whitesmoke;
}
.rosterhead{
    font-family:'Russo One';
    background-color: whitesmoke;
}
.cubfan{
    color: black;
}
.thead-dark{
    font-family: 'Archivo';
}
.table{
    font-family: 'Archivo'
}
.wholepage{
background-color: grey;
}
.therow{
    background-color: white;
}